# Dependencies
node_modules/

# Production build output
dist/
dist-ssr/
*.local

# Vercel deployment artifacts
.vercel

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System & IDE files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
